* {box-sizing: border-box;
}
button {
    outline: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'GothamPro';
    src: url('./fonts/GothamPro.woff') format('woff')
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url('./fonts/GothamPro-Medium.woff') format('woff')
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('./fonts/GothamPro-Bold.woff') format('woff')

}




::-webkit-scrollbar {
   max-width: 5px;
    transition: .2s all linear;
}
::-webkit-scrollbar-track {
    background-color: #080808;
}

::-webkit-scrollbar-thumb {
        background-color: #FF0020;
        border-radius: 10px;
        max-height: 3px;
        transition: .2s all linear;

}
::-webkit-scrollbar-thumb:hover {
    background-color: #DB0520;
}
::-webkit-scrollbar-button {
     display: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}



/*block-1*/
.content-block-1 {
    height: 88vh;
}
.content-block-1__option {
    padding: 0 15px 0 30px;
}
.content-block-1__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    height: 100%;
    max-height: 1020px;
}
.content-block-1__inner {
    height: auto;
}
.content-block-1__container {
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.content-block-1__elements {
    max-width: 746px;
    width: 100%;
    margin-right: 100px;


}
.content-block-1__element {
    max-width: 746px;
    width: 100%;

}
.content-block-1__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 455px;
    width: 100%;
    margin-top: 115px;
    padding-left:15px ;
}
.content-block-1__title {
    max-width: 393px;
    width: 100%;
    font-size: 30px;
    font-family: "GothamPro-Bold",sans-serif;
    margin-bottom: 16px;
    color:#31383D;
}
.content-block-1__title span {
    color:#FF0020;
    font-size: 30px;
    font-family: "GothamPro-Bold",sans-serif;
    text-transform: uppercase;

}
.content-block-1__subtitle {
    font-family: "GothamPro",sans-serif;
    font-size: 18px;
    color: #4B4B4B;
    margin-bottom: 43px;
}

/*block-2*/

.content-block-2 {
    margin-top: 150px;
    margin-bottom: 130px;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.content-block-2-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-block-2__title {
    padding: 0 10px;
    max-width: 500px;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-family: "GothamPro-Medium",sans-serif ;
    text-align: center;
    color: #31383D;
    margin-bottom: 36px;
}
.content-block-2__text {
    padding: 0 10px;
    max-width: 1000px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-family: "GothamPro",sans-serif ;
    text-align: center;
    color: #4B4B4B;
}

/*block-3*/
.content-block-3__option {
    margin-bottom: 200px;
}
.content-block-3__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 15px;
}

.content-block-3__step1 {
    width: 100%;
    max-width: 397px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-block-3__title {
    font-size: 36px;
    font-family: "GothamPro-Bold", sans-serif;
    line-height: 41px;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-bottom: 33px;
}
.content-block-3__steps2 {
    margin-bottom: 130px;
    text-align: center;
}

.content-block-3__subtitle {
    font-size: 36px;
    font-family: "GothamPro-Bold", sans-serif;
    line-height: 41px;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-bottom: 48px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 646px;
    height: 654px;
}
.input {
    max-width: 320px;
    width: 100%;
    margin-bottom: 30px;
    border:1px solid #707070;
   border-radius: 15px 15px 15px 15px;
    padding: 12px 12px 12px 12px;
}
.input-option {
    max-width: 450px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 21px;
}

/*checkbox*/
.content-checkbox {
    position: relative;
    text-align: center;
    margin-left: 30px;
}
.checkbox {
  -webkit-appearance: none;
  appearance:none;
  position: absolute;

}
.label {
    padding-left: 35px ;
     font-size: 13px;
    font-weight: 400;
    font-family: "GothamPro", sans-serif;
    line-height: 15px;
}
.label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 1px solid #000000;
    background-color: #FFFFFF;


    position: absolute;
    top:12%;
    left: 0;
    z-index: 2;
}

.label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/img/checkbox.png);
    background-repeat: no-repeat;
    background-size: 21px 20px;
    position: absolute;
    top: 10%;
    left: 1px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s linear;

}

.checkbox:checked + .label::after {
    opacity: 1;
}

.label span {
    color:#FF0020;
}


.content-block-3__button {
    max-width: 320px;
    width: 100%;
    border-radius: 12px;
    font-size: 22px;
    padding: 5px 10px 8px 10px;
    margin-top: 30px;

}
.form__btn {
    max-width: 320px;
    width: 100%;
    border-radius: 12px;
    font-size: 24px;
    padding: 14px 12px 16px 12px;
    margin-top: 30px;
    border:none;
    background-color: #FF0020;
    color:#FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s linear;
    box-shadow: inset 0 -10px 5px -4px rgba(0,0,0,0.3);

}
.form__btn:hover {
    background-color:#DB0520;
}






.content-block-3__img {
    background-image: url("../../assets/img/step2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 646px;
    position: relative;
}

.content-block-3__img::before {
    content: "";
    width: 1000px;
    height: 646px;
    position: absolute;
    z-index: 1;
    background-color: #000000;
    opacity: 0.35;
}
.content-block-3__text {


    max-width: 372px;
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 77px;
    bottom: 34px;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color:#FFFFFF;
    text-align: right;

}

/*content-block-4*/
.content-block-4__option {
    margin-bottom: 200px;
}
.content-block-4__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-block-4__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-block-4__title {

    text-align: center;
    max-width: 786px;
    width: 100%;
    font-family: "GothamPro-Bold", sans-serif;

    line-height: 41px;
    font-size: 36px;
    color: #4B4B4B;
    margin-bottom: 153px;
}

.content-block-4__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-block-4__item {
    height: 412px;
    position: relative;
    margin-bottom: 3px;

}
.content-block-4__text {
    position: absolute;
    max-width: 112px;
    width: 100%;
    z-index: 5;
    top:80%;
    bottom: 0;
    right: 0;
    left: 28%;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;

}
.content-block-4__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.34);
    z-index: 1;

}

.content-block-4__elements {
    display: flex;
    flex-wrap: wrap;
}
.content-block-4__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 688px;
    width: 100%;
}
.content-block-4__element {
    display: flex;
    justify-content: center;
    max-width: 672px;
    width: 100%;
    flex-wrap: wrap;

}
.content-block-4__BUSINESS {
    margin-top: 12px;
    max-width: 552px;
    width: 100%;
    margin-bottom:10px ;
}

.content-block-4__element2 {
    width: 100%;
    max-width: 1008px;
    position: relative;

}

.content-block-4__element2 img {
    width: 100%;
    max-width: 1008px;

}
.content-block-4__element2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.34);
    z-index: 1;

}


.content-block-4__text2 {
    position: absolute;
    max-width: 640px;
    width: 100%;
    z-index: 5;
    top:88%;
    bottom: 0;
    right: 0;
    left: 18%;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.content-block-5 {
    margin: 200px 0;
}
.container-block-5 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.content-block-5__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content-block-5__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-block-5__title {
    font-family: "GothamPro-Bold",sans-serif;
    font-size: 47px;
    line-height: 5.2px;
    letter-spacing: -1px;
    margin-bottom: 78px;
}

.content-block-5__item {
    position: relative;
    margin-right: 56px;
    transition: .2s all linear;
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
}

.content-block-5__item:hover {
        transform: scale(1.05);
}
.content-block-5__item:last-child {
    margin-right: 0;
    margin-left: 50px;
}
.content-block-5__edinorog {
    width: 235px;
    height: 50px;
}

.content-block-5__img {
    position: absolute;
    z-index: 5;
    top: -15%;
    left: -42%;
}
.content-block-5__text {
    width: 100%;
    max-width: 205px;
    font-size: 13px;
    font-family: "GothamPro-Bold", sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    z-index: 5;
    text-decoration: none;
    color: #080808;

}









@media (max-width: 1400px) {
    /*block-1*/
    .content-block-1__element {
        height: 600px;
        width: 500px ;
        margin-left: 50px;
    }
    .content-block-1 {
       height: 768px;
    }
    .content-block-1__elements{

    }
    /*block-2*/
    .content-block-2 {
        margin-top: 0;
        margin-bottom: 130px;
    }
}