button {
    outline: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

.wrapper-page-main {
    width: 100vw;
}

.content-page-main {
    width: 74vw;
    display: flex;
    margin: 0 auto;
}

.content-main-block-1 {
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.main-img-doctor {
    width: 50vw;
}

.main-img-doctor img {
    width: 30vw;
    margin-bottom: -3px;
}

.info-main-block-1 {
    width: 50vw;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.info-main-block-1-h-text {
    margin-top: 2vh;
    font-size: 3.5vh;
    color: rgb(86, 90, 94);
    font-weight: 500;
}

.info-main-block-1-text {
    color: rgb(86, 90, 94);
    margin-top: 1vh;
    font-size: 2.2vh;
}

.info-main-block-1-text {
    margin-top: 2vh;
    text-align: justify;
    font-size: 3.1vh;
    color: #565A5E;
    font-weight: 500;
}

.info-main-block-1 span {
    font-size: 3vh;
}

.main-content-button {
    border-radius: 20px;
    background-color: #FF0020;
    width: 20vw;
    padding: 5px 15px 5px 15px;
    margin-top: 4vh;
    text-align: center;
    color: #fff;
    float: left;
    cursor: pointer;
}

.main-content-button-app {
    display: flex;
    flex-direction: row;
    margin-top: 8vw;
}

.main-content-button-app a {
    width: 10vw;
}

.main-content-button-app a:first-child {
    margin-right: 2vh;
}

.img-app-main {
    width: 10vw;
}

.content-main-block-2 {
    display: flex;
    background-image: url('https://storge.pic2.me/c/1360x800/385/5e5e77f35275f.jpg');
    background-size: 100%;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /* background-image: url("~@/assets/img/"); */
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /*background-color: #707070;*/

}

.text-block-2 {
    display: flex;
    color: #fff;
    font-size: 2.3vh;
    flex-direction: column;
    text-align: center;
}

.text-block-2:last-child {
    /* font-size: 10vh; */
}

.text-head-block-2 {
    font-size: 5vh;
    margin-bottom: 1vw;
    margin-top: 6vw;
    text-align: center;
}

.text-block-2 p {
    margin: 5px 0;
}

.block-price {
    display: flex;
    flex-direction: row;
    width: 74vw;
    align-items: center;
    justify-content: space-between;
    margin: 6vh auto;
}

.block-price-elem {
    display: flex;
    min-width: 20vw;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4vh;
}

.blockHeader {
    margin: 0;
    color: #FF0020;
    font-size: 3.5vh
}

.blockPriceInfo {
    color: #000;
    font-size: 5vh;
}

.blockPrice {
    font-size: 2vw;
}

.blockPriceText {
    font-size: 1vw;
}

.blockPriceText2 {
    margin: 1.2vw 0 1.2vw 0;
    font-size: 1vw;
}

.blockTermsInfo {
    color: #707070;
    font-size: 2.5vh;
    border-bottom: 1px solid #707070;
    padding-bottom: 1vw;
}

.block-price-1 {
    flex-direction: column;
    justify-content: space-between;
    /*height: 42vh;*/
}

.block-price-2 {
    flex-direction: column;
    height: 46vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.block-price-3 {
    flex-direction: column;
    justify-content: center;
    height: 42vh;
}

.button-shop {
    background-color: #31383D;
    opacity: 0.7;
    padding: 1vh 3.5vh 1vh 3.5vh;
    border-radius: 20px;
    color: #fff;
    font-size: 3vh;
    border: none;
    margin-top: 1vw;
    cursor: pointer;
}

.text-button-block-2 {
    display: flex;
    flex-direction: column;
}

.text-button-block-2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-info-price {
    text-decoration: none;
    border-radius: 20px;
    background-color: #FF0020;
    /* width: 30vw; */
    padding: 1.2vh 5vh 1.2vh 5vh;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    float: left;
    cursor: pointer;
    font-size: 3vh;
    justify-content: center;
    align-self: center;
}

.content-main-block-3 {
    display: flex;
    /* background-image: url("~@/assets/img/"); */
    width: 100vw;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.logo-content-block-3 {
    width: 10vw;
}

.main-elem-block-3 {
    width: 75vw;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
}

.elem-block-3 {
    width: 22vw;
    border: 1px solid #0000001a;
    border-radius: 10px;
    padding: 2vh;
}

.elem-block-3 img {
    width: 1.6vw;
    margin-right: 1vw;
}

.elem-block-3 div {
    font-size: 3vh;
    margin-bottom: 1vw;

}

.main-elem-block-3-1 {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.elem-block-3-1 {
    width: 10vw;
    font-size: 1vw;
    border: 1px solid #0000001a;
    border-radius: 10px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elem-block-3-1 img {
    width: 3vw;
    margin-bottom: 1vh;
}

.content-main-block-3-h-text {
    font-size: 3.3vh;
    padding: 10px;
    color: #31383D;
    margin: 3vh 0 1vh 0;
}

.content-main-block-3-text {
    padding: 10px;
    font-size: 1vw;
    text-align: justify;
    color: #31383D;
}

.content-main-block-4 {
    display: flex;
    width: 100vw;
    min-height: 40vh;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 8vh;
}

.cont-1-4 {
    display: flex;
    width: 100vw;
    min-height: 40vh;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 8vh;
}

.content-block-4-text {
    display: flex;
    flex-direction: column;
    margin-bottom: -14vw;
    margin-left: 28vw;
    width: 60vw;
}

.blockLogoHeli {
    position: absolute;
    width: 20vw;
    margin-top: -28vh;
    margin-left: 110vh;
}

.content-main-block-5 {
    display: flex;
    width: 100vw;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.block5Button {
    width: 20vw;
    margin-left: -37.5vw;
}

.content-main-block-5-text {
    font-size: 2.2vh;
}

.content-main-block-5-button {
    background-color: #FF0020;
    padding: 1vh 4vh 1vh 4vh;
    font-size: 3vh;
}

.main-elem-block-5-1 {
    width: 75vw;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 6vh;
}

.main-elem-block-5-2 {
    width: 75vw;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.content-main-block-6 {
    width: 100vw;
    height: 50vh;
    background-image: url('../../assets/img/polza.png');
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block6-h-text {
    font-size: 3.6vh;
    color: rgb(255, 255, 255);
}

.block6-text {
    font-size: 2.4vh;
    color: rgb(255, 255, 255);
    width: 40vw;
    text-align: center;
}

.content-main-block-7 {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-elem-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-form-7 {
    border: 1px solid #707070;
    border-radius: 39px;
    outline: none;
    padding: 1.4vh 4vh 1.4vh 1vh;
    color: #707070;
    font-size: 2.4vh;
    margin-right: 2vh;
}

.button-form-7 {
    background-color: #FF0020;
    color: #fff;
    border: none;
    align-items: center;
    padding: 1.4vh 4vh 1.4vh 4vh;
    font-size: 3vh;
}

.content-main-block-8 {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

.review-block {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.footer {
    display: flex;
    font-size: 0.7vw;
    flex-direction: column;
    border-top: 1px solid #707070;
    width: 100vw;
    align-items: center;
    margin-top: 4vh;
}

.footerLogo {
    width: 5.5vw;
}

.footer-elem-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.footer-elem-2 {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.footer-elem-3 {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 75vw;
    margin-top: 4vh;
    /*margin-bottom: 2vh;*/
    align-items: center;
    color: #31383D;
}

.footer-elem-3-logo {
    background: #00A7CF;
    outline: none;
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
}

.footer-elem-3-logo:hover {
    height: 90px;
}

.footer-elem-3-item {
    margin-right: 12px;
}

.footer-logojs {
    width: 60px;
    padding: 5px;
}

.imageBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageBoxText {
    width: 22vw;
    color: rgb(112, 112, 112);
    font-size: 2vh;
    margin-top: 2vh;
}

.imageBox img {
    width: 5vw;
}

.content-main-block-7-h-text {
    color: #31383D;
    font-size: 4.2vh;
}

.content-main-block-7-text {
    color: #31383D;
    font-size: 2vh;
    width: 50vw;
    text-align: center;
}

.blockConditions {
    position: absolute;
    margin-top: 6vh;
    margin-left: 22vh;
    color: #31383D;
    font-size: 2vh;
    width: 50vw;
    text-align: left;
}

@media screen and (max-width: 991px) {

    header-menu-elem:nth-child(2) {
        margin-right: 4vh !important;
    }

    .main-img-doctor img {
        width: 70vw;
    }

    .main-content-button {
        width: 80vw;
    }

    .content-main-block-1 {
        flex-direction: column;
    }

    .info-main-block-1-h-text {
        margin-top: 2vh;
        font-size: 3.1vh;
        color: rgb(86, 90, 94);
        font-weight: 500;
    }

    .info-main-block-1-text {
        color: rgb(86, 90, 94);
        margin-top: 1vh;
        font-size: 2.7vh;
    }

    .info-main-block-1 span {
        font-size: 2.6vh;
    }

    .img-app-main {
        width: 36vw;
    }

    .main-content-button-app {
        width: 63vw;
        justify-content: space-between;
    }

    .blockConditions {
        position: absolute;
        margin-top: 24vh;
        width: 100vw;
        text-align: center;
    }

    .block-price {
        flex-direction: column;
    }

    .blockPrice {
        font-size: 7vw;
        margin: 4vw 0;
    }

    .blockPriceText {
        font-size: 5vw;
    }

    .blockTermsInfo {
        font-size: 5vw;
    }

    .blockPriceText2 {
        font-size: 4vw;
    }

    .button-shop {
        margin-top: 9vw;
    }

    .capabilities {
        color: rgb(255, 0, 32);
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .block-price-1, .block-price-2, .block-price-3 {
        width: 75vw;
        height: 55vh;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .block-price-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .text-block-2 {
        font-size: 2.7vh;
    }

    .text-block-2 p {
        margin: 10px;
    }

    .main-elem-block-3 {
        flex-direction: column;
        width: 96vw;
        margin-top: 0;
    }

    .content-main-block-3-text {
        font-size: 4vw;
    }

    .main-elem-block-3 {
        font-size: 4vw;
    }

    .elem-block-3-1 {
        font-size: 4vw;
    }

    .main-elem-block-3-1 {
        width: 94vw;
        flex-wrap: wrap;
    }

    .elem-block-3-1 {
        width: 11vw;
    }

    .elem-block-3 {
        width: 88vw;
        margin-top: 10px;
    }

    .content-main-block-5-text {
        width: 90vw;
    }

    .content-main-block-5-button {
        width: 90vw;
    }

    .content-main-block-5 {
        margin-top: 0;
    }

    .block5Button {
        width: 90vw;
        margin-left: -1.5vw;
    }

    .main-elem-block-5-1 {
        flex-direction: column;
        width: 90vw;
    }

    .main-elem-block-5-2 {
        flex-direction: column;
    }

    .info-main-block-1 {
        width: 90vw;
        padding: 10px;
    }

    .content-main-block-6 {
        padding: 15px;
        width: auto;
        height: auto;
    }

    .block6-h-text {
        font-size: 3.1vh;
    }

    .block6-text {
        font-size: 2.4vh;
        color: rgb(255, 255, 255);
        width: 90vw;
        text-align: center;
    }

    .review-block {
        width: 95vw;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }

    .review-elem-name {
        display: flex;
        margin-left: 7vh;
        flex-direction: column;
    }

    .reviewBlock {
        width: 95vw;
    }

    .reviewBlockText {
        width: 100vw;
        color: #707070;
        font-size: 2vh;
        margin-top: 2vh;
    }

    .imageBox {
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2vw;
    }

    .imageBoxText {
        width: 95vw;
        color: rgb(112, 112, 112);
        font-size: 2vh;
        margin-top: 2vh;
    }

    .imageBox img {
        width: 20vw;
    }

    .content-main-block-7 {
        margin-top: 20px;
    }

    .content-main-block-7-h-text {
        font-size: 4.1vh;
    }

    .content-main-block-7-text {
        width: 90vw;
        text-align: center;
    }

    .input-form-7 {
        width: 75vw;
        margin-top: 10px;
    }

    .form-elem-7 {
        flex-direction: column;
    }

    .blockConditions {
        position: absolute;
        margin: 24vh 0 0;
        width: 100vw;
        text-align: center;
    }

    .content-main-block-8 {
        margin-top: 8vh;
    }

    .logo-content-block-3 {
        width: 30vw;
    }

    .input-form-7 {
        border: 1px solid;
    }

    .footer {
        font-size: 2vw;
        width: 95vw;
    }

    .footerLogo {
        width: 18vw;
    }

    .footer-elem-3 {
        align-items: left;
    }

    .footer-elem-3 {
        width: 8vw;
    }

    .footer-elem-3 {
        width: 90vw;
    }

    .footer-elem-1 {
        width: 80vw
    }

    .footer-elem-2 {
        width: 80vw;
        font-size: 2.1vw;
    }

    .footer-elem-3 img {
        width: 17vw;
    }


}