.headerWrapper {
    width: 100vw;
    background: #fff;
    position: fixed;
    padding-bottom: 1vw;
    border-bottom: 1px solid #EDEDED;
}

.headerContent {
    width: 74vw;
    display: flex;
    margin: 1vw auto 0;
    height: 8vh;
}

.headerLogoDiv {
    width: 50vw;
    display: flex;
    align-items: center;
}

.headerLogoDiv img {
    width: 151px;
    height: 56px;
}

.headerMenu {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerMenuElem {
    outline: none;
    text-decoration: none;
    margin-right: 5vw;
    color: #31383D;
    font-size: 24px;
}

.headerMenuElem:nth-child(2) {
    /*margin-right: 8vh !important;*/
}

.headerButton {
    width: 158px;
    height: 46px;
    border: 1px solid #FF0020;
    border-radius: 20px;
    /*padding: 1.5vh 3.2vh 1.5vh 3.2vh;*/
    color: #FF0020;
    font-size: 19px;
    line-height: 46px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.headerButton:hover {
    background-color: #FF0020;
    color: #fff;
}
@media screen and (max-width: 991px) {

    .headerContent {
        width: 90vw;
    }

    .headerMenuElem {
        margin-right: 3vw;
        color: #31383D;
        font-size: 12px;
    }

    .headerLogoDiv img {
        width: 8vw;
        height: auto;
    }

}

