.headerWrapper {
    padding-bottom: 1vw;
    border-bottom: 1px solid #EDEDED;
}

.headerContent {
    width: 74vw;
    display: flex;
    margin: 1vw auto 0;
    height: 8vh;
}

.headerLogoDiv {
    width: 50vw;
    display: flex;
    align-items: center;
}

.headerLogoDiv img {
    width: 8vw;
    height: auto;
}

.headerMenu {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerMenuElem {
    outline: none;
    text-decoration: none;
    margin-right: 5vw;
    color: #31383D;
    font-size: 3vh;
}

.headerMenuElem:nth-child(2) {
    /*margin-right: 8vh !important;*/
}

.headerButton {
    border: 1px solid #FF0020;
    border-radius: 20px;
    padding: 1.5vh 3.2vh 1.5vh 3.2vh;
    color: #FF0020;
    font-size: 2vh;
    cursor: pointer;
}
@media screen and (max-width: 991px) {

    .headerContent {
        width: 90vw;
    }
}