.footer {
    display: flex;
    font-size: 0.7vw;
    flex-direction: column;
    border-top: 1px solid #707070;
    width: 100vw;
    align-items: center;
    margin-top: 4vh;
}

.footerLogo {
    width: 8.5vw;
}

.footer-elem-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.footer-elem-2 {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.footer-elem-3 {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-elem-3-logo {
    background: #00A7CF;
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 6vw;
}

.footer-elem-3-item {
    margin-right: 12px;
    font-size: 2vh;
}

.footer-logojs {
    width: 3.5vw !important;
    height: 4vh !important;
    padding: 5px;
}

.footerLogo {
    width: 10vw;
    height: 7vh;
}

.img-footer-social {
    width: 3vw;
    height: 5.5vh;

}

.footer-elem-1 {
    width: 80vw
}

.footer-elem-2 {
    width: 80vw;
    font-size: 2vh;
}

.footer-elem-3 img {
    width: 17vw;
}