
* {
    box-sizing: border-box;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
div,p,footer,span,Link {
    margin: 0;
    padding: 0;
}


.container-footer {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

footer {

    border-top: 1px solid #E8E8E8;
    padding-top: 41px;
    padding-bottom: 47px;
    padding-left: 15px;
    padding-right: 15px;



}






.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footerLogo {
    max-width: 150px;
    width: 100%;
    height: 56px;
}

.footer-elem-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}
.footer-elem-1__info {
    max-width: 161px;
    width: 100%;
    text-align: right;


}
.footer-elem-1__info p {

}

.footer-elem-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #E8E8E8;
    padding-top: 17px;
    margin-bottom: 31px;

}
.footer-elem-2__item:last-child {
    margin-right: 0;
}

.footer-elem-2__item {
    border: none;
    text-decoration: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.footer-elem-2__items {
    position: relative;
    padding: 10px 5px;

}

.footer-elem-2__items::before {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: 0.3s linear;
    transform: scaleX(0);
}
.footer-elem-2__items::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-left: 1px solid;
    border-right: 1px solid;
    transform: scaleY(0);
    transition: 0.3s linear;
}

.footer-elem-2__items:hover:after,
.footer-elem-2__items:hover:before {
    transform: scale(1);
}


.footer-elem-2__item {
    text-decoration: none;
    color: #31383D;
    font-size: 16px;
    font-family: "GothamPro-Medium", sans-serif;
    line-height: 1.9px;
}
.footer-elem-2__item:hover {
    color: #FF0020;
}
.footer-elem-2__item:focus {
    color: #DB0520;
}
.footer-elem-2 span {
    padding-left:5px ;
    margin-right: 18px;
    text-decoration: none;
    color: #31383D;
    font-size: 16px;
    font-family: "GothamPro-Medium", sans-serif;

}
.footer-elem-2 span:last-child {
    margin-right: 0;
}
.footer-elem-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-jscorp {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.jscorp-bgr {
    background: #DD1733;
    width: 57px;
    height: 50px;
    outline: none;
    position: absolute;
    right: 0;
    top:130%;
    bottom: 0;
    z-index: 9;

}
.jscorp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD1733;
    outline: none;
    width: 57px;
    height: 50px;

    transition: 0.8s ease;
}
.jscorp:hover {

    transform: translateY(-53%);


}
.footer-jscorp__text {
    font-family: "GothamPro", sans-serif;
    font-size: 12px;
    margin-right: 80px;
}
.footer-elem-3-logo {
    padding: 2px;
}

.footer-elem-3-item1 {
    max-width: 291px;
    width: 100%;
    font-family: "GothamPro", sans-serif;
    font-size: 12px;

}
.footer-elem-3-item2 {
    max-width: 465px;
    width: 100%;
    font-family: "GothamPro", sans-serif;
    font-size: 12px;
}


.footer-logojs {
    width: 47px;
    height: 25px;
}

.footerLogo {

}
.footer-elem-1__item {
    margin-right: 10px;

}
.footer-elem-1__item:last-child {
    margin-right: 0;
}

.footer-elem-1__items {
    display: flex;
    margin-left: 40px;

}
.footer-elem-1__item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: #FF0020;
    transition: 0.2s all linear;
}
.footer-elem-1__item:hover {
    background-color: #DD1733;
    transform: scale(1.1);
}
.footer-elem-1__icon {
    width: 21px;
    height: 21px;
    color: #FFFFFF;

}



/*modal*/
.modal-show {
    display: none;
}



