
* {
    box-sizing: border-box;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div, p, footer, span, Link {
    margin: 0;
    padding: 0;
}


.container-footer {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid #E8E8E8;
    padding-bottom: 47px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    display: grid;
    grid-template-areas: "l i o"
    "policy using offer"
    "copy info jscorp";
    grid-template-rows: 7vw 3vw 2vw;
}

.footerLogo {
    max-width: 150px;
    width: 100%;
    height: 56px;
}

.footer-elem-1 {
    display: grid;
    grid-template-areas: "l i o";
    margin-bottom: 61px;
}

.footer-elem-1__info {
    grid-area: o;
    max-width: 161px;
    width: 100%;
    text-align: right;


}

.footer-elem-1__info p {

}

.policy {
    grid-area: policy;
}

.using {
    grid-area: using;
}

.offer {
    grid-area: offer;
}

.footer-elem-2 {
    display: grid;
    border-top: 1px solid #E8E8E8;
    padding-top: 17px;
    margin-bottom: 31px;

}

.footer-elem-2__item:last-child {
    margin-right: 0;
}

.footer-elem-2__item {
    border: none;
    text-decoration: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.footer-elem-2__items {
    position: relative;
    padding: 10px 5px;

}

.footer-elem-2__items::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: 0.3s linear;
    transform: scaleX(0);
}

.footer-elem-2__items::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-left: 1px solid;
    border-right: 1px solid;
    transform: scaleY(0);
    transition: 0.3s linear;
}

.footer-elem-2__items:hover:after,
.footer-elem-2__items:hover:before {
    transform: scale(1);
}


.footer-elem-2__item {
    text-decoration: none;
    color: #31383D;
    font-size: 16px;
    font-family: "GothamPro-Medium", sans-serif;
    line-height: 1.9px;
}

.footer-elem-2__item:hover {
    color: #FF0020;
}

.footer-elem-2__item:focus {
    color: #DB0520;
}

.footer-elem-2 span {
    grid-area: line;
    padding-left: 5px;
    margin-right: 18px;
    text-decoration: none;
    color: #31383D;
    font-size: 16px;
    font-family: "GothamPro-Medium", sans-serif;

}

.footer-elem-2 span:last-child {
    margin-right: 0;
}

.footer-elem-3 {
    display: grid;
}

.footer-jscorp {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.jscorp-bgr {
    background: #DD1733;
    width: 57px;
    height: 50px;
    outline: none;
    position: absolute;
    right: 0;
    top: 130%;
    bottom: 0;
    z-index: 9;

}

.footer-elem-3-logo {
    background: #DD1733;
    outline: none;
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
}

.footer-elem-3-logo:hover {
    height: 90px;
}

.footer-jscorp__text {
    font-family: "GothamPro", sans-serif;
    font-size: 12px;
    margin-right: 80px;
}

.footer-elem-3-logo {
    padding: 2px;
}

.footer {
    display: flex;
    font-size: 0.7vw;
    flex-direction: column;
    border-top: 1px solid #707070;
    width: 100vw;
    align-items: center;
    margin-top: 4vh;
}

.footerLogo {
    grid-area: l;
    width: 6.5vw;
    height: 6vh;
}

.footer-elem-1 {
    display: grid;
    font-size: 16px;
    justify-content: space-between;
    width: 75vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.footer-elem-2 {
    display: grid;
    grid-template-areas: 'policy line using line offer';
    font-size: 16px;
    width: 75vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.footer-elem-3 {
    display: grid;
    position: relative;
    font-size: 19px;
    flex-direction: row;
    width: 75vw;
    margin-top: 4vh;
    align-items: center;
    color: #31383D;
}

.footer-elem-3-item {
    margin-right: 12px;
}

.footer-logojs {
    width: 60px;
    padding: 5px;
}

.footer-elem-3-item1 {
    grid-area: copy;
    max-width: 291px;
    width: 100%;
    font-family: "GothamPro", sans-serif;
    font-size: 12px;

}

.footer-elem-3-item2 {
    grid-area: info;
    max-width: 465px;
    width: 100%;
    font-family: "GothamPro", sans-serif;
    font-size: 12px;
}

.footer-jscorp {
    grid-area: jscorp;
}


.footer-logojs {
    width: 100%;
    /*height: 25px;*/
}

.footerLogo {

}

.footer-elem-1__item {
    margin-right: 10px;

}

.footer-elem-1__item:last-child {
    margin-right: 0;
}

.footer-elem-1__items {
    grid-area: i;
    display: flex;
    margin-left: 40px;

}

.footer-elem-1__item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: #FF0020;
    transition: 0.2s all linear;
}

.footer-elem-1__item:hover {
    background-color: #DD1733;
    transform: scale(1.1);
}

.footer-elem-1__icon {
    width: 21px;
    height: 21px;
    color: #FFFFFF;

}

@media screen and (max-width: 991px) {
    .footer-wrapper {
        grid-template-areas: "l"
        "policy"
        "using"
        "offer"
        "o"
        "info"
        "i"
        "copy"
        "jscorp";
        grid-template-rows: auto;
    }

    .footer-elem-1 {
        display: grid;
        grid-template-areas: "l" "i" "o";
    }

    .footer-jscorp {
        justify-content: center;
    }

    .jscorp-bgr {
        right: auto;
    }

    .footer-elem-1__items {
        margin: 10px auto;
    }

    .footerLogo {
        margin: 20px auto;
        width: 36vw;
        height: auto;
    }

    .footer-elem-1__info {
        grid-area: o;
        max-width: 161px;
        text-align: center;
        margin: 10px auto;
    }

    .policy {
        margin: 0 auto;
    }

    .using {
        margin: 10px auto;
    }

    .offer {
        margin: 0 auto 10px;
    }

    .policy span {
        display: none
    }

    .using span {
        display: none
    }

    .footer-elem-3-item2 {
        text-align: center;
        margin: 10px auto;
        width: 90%
    }

    .footer-elem-3-item1 {
        text-align: center;
        margin-bottom: 20px;
    }
}


/*modal*/